@charset "utf-8";
/* CSS Document */


.active {
	font-family: 'Roboto', sans-serif;
	font-style: black;
	color: black;
	padding: 10px;
	margin: 5px auto;
	font-color: white;
	
			
}

li {
	font-family: 'Roboto', sans-serif;
	display:inline;
	font-size: 1.1em;
	padding: 10px 3px;
	margin: 5px;
	color: #3AA7BB;
	
	border: 3px solid #3AA7BB;
	border-radius: 10px;
	/*background-color: #3AA7BB;*/
	
	}
	
a {
	color: #3AA7BB;
	
	}
	
a:link {
    text-decoration:none;
	
}

a:visited {
    text-decoration: none;
}

body {
	margin: 20px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
	background-color: #E1E2E3;

	
	}
	
h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	margin: 30px 50px;
	}

p {
	font-family: 'Josefin Sans', sans-serif;
	margin: 20px 50px;
	font-size: 1em;
	}
#portfolio {
	font-family: 'Josefin Sans', sans-serif;
	margin: auto 50px;
	font-size: 2em;
	}

